.campaigns{
    min-height: 36rem;
    margin: 1rem 0;
}

.campaign-card-wrapper{
    margin: 1rem 0;
}
.page-link:focus{
    box-shadow: none !important;
}
.card-subtitle{
    font-size: 0.9rem;
    color: #6c757d;
}
.timeline-date{
    font-size: 0.825rem;
    color: #6c757d;
    font-weight: 600;
    margin-right: .5rem;
}

.card-img,.card-img-top{
    border-top-right-radius: 0 !important;
}
@media screen and (max-width: 768) {
    .card-body{
        flex-direction: column !important;
    }
}

.thumb-img{
    padding: .5rem;
}
.thumb-img img{
    width: 100%;
    max-width: 8rem;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
}