.small-device-cards {
  display: flex;
  overflow-x: scroll;
  gap: 0.5rem;
}
.swiper-slide{
  padding: 0 !important;
  background: none !important;
}


.camp-card {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  min-width: 22rem;
  position: relative;
}

.camp-card-image img{
  width: 100%;
  height: 100%;
}
.camp-card-content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0.5rem;
  text-align: center;
  padding: 1rem; 
}
.card-details{
  opacity: 0;
}
.camp-card-content:hover{
  background: rgba(0,0,0,0.5);
}
.camp-card-content:hover .card-details{
  opacity: 1;
  transition: all .5s ease-in-out;
}