.footer{
  width: 95%;
  padding-block: 1.5rem;
  position: relative;
  margin: auto;
  background-color: black;
  background-image: linear-gradient(60deg, rgb(20, 19, 19), rgb(147, 146, 146),rgb(28, 24, 24));
  color: whitesmoke;
}

.footer_box{
  width: 100%;
  margin: 0 auto;
  display: grid;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  grid-template-columns: 5fr 5fr;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}

.footer_box img{
  border-radius: 100%;
  padding: 1%;
  margin-bottom: 1%;
}

.footer_social{
  display: flex;
  gap: 1.3rem;
  font-size: 2rem;
  align-items: center;
}

.footer_social a{
  padding: .2rem;
  border-radius: 100%;
  background-clip: text;
  transition: all .3s ease-in;
  display: grid;
}

.ut{
  color: #FF0000;
}

.fb{
  color: #4267B2;
}

.tw{
  color: #1DA1F2;
}

.ig{
  color: white;
  border-radius: 9px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.footer_social a:hover{
  background: white;
  box-shadow: 0 0 25px  white;
  transition: all 0.5s ease;
  /* box-shadow: var(--box-shadow); */
}

.subscribe h4{
  transform: translateY(50%);
}
.subscribe_box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 5rem;
  margin-top: 3rem;
  background-color: white;
  color: black;
}

.subscribe_box input{
  background: transparent;
  border: none;
  outline: none;
  width: 90%;
  color: var(--shadow-dark-color);
}

.subscribe_box input::placeholder{
  color: black;
}

.subscribe_box_send{
  cursor: pointer;
  font-size: 2rem;
}

.copyright{
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  background-color: rgb(63, 59, 59);
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  color: whitesmoke;
}

.footer-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-menu a{
  color: white;
  padding: 6px;
  text-decoration: none;
}

.footer-menu a:hover{
  color: #27bcda;
}

.copyright p{
  text-align: center;
  padding:5px;

}

span{
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 45em){
  .footer_box{
    width: 90%;
    grid-template-columns: 1fr;
  }
}