/* header section */

.header {
  min-height: 80vh;
}
.header-wrapper {
  min-height: 50vh;
  width: 100%;
  background: #243c56;
  position: relative;
  isolation: isolate;
}
.header-wrapper::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: #243c56;
  transform: skewY(-5deg) translateY(15%);
  position: absolute;
  bottom: 0;
  inset: 0;
  z-index: -1;
}

.influencer-card {
  position: relative;
}
.influencer-img {
  padding: 0;
  margin: 0;
}
.influencer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.influencer-details {
  /* display: none; */
  width: 100%;
  isolation: isolate;
  position: absolute;
  bottom: 0;
}


.swiper{
  max-height: 36rem;
  max-width: 28rem;
}

@media screen and (max-width: 991px) {
  .swiper{
    max-width: 100%;
  }
  .influencer-card{
    flex-direction: row;
    width: 100%;
  }
  .influencer-details{
    position: static;
  }
}
@media screen and (max-width: 575px) {
  .influencer-details{
    position: absolute;
  }
}