/* header section */

.header {
  min-height: 80vh;
}
.header-wrapper {
  min-height: 50vh;
  width: 100%;
  background: #243c56;
  position: relative;
  isolation: isolate;
  padding: 1rem;
}
.header-wrapper::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: #243c56;
  transform: skewY(-5deg) translateY(15%);
  position: absolute;
  bottom: 0;
  inset: 0;
  z-index: -1;
}

.header-carousel {
  height: 100%;
}
.vid-container {
  display: flex;
  align-items: center;
}

.influencer-card{
  position: relative;
}
.influencer-img{
  height: 100%;
  isolation: isolate;
  position: relative;
  height: 100%;
  max-height: 24rem;
}
.influencer-img img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.influencer-details{
  height: 100%;
  isolation: isolate;
  position: relative;
  /* min-height: 8rem; */
  /* display: none; */
}
.influencer-details::before{
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: #0dcaf0;
  transform: skewY(-5deg) translateY(-15%);
  position: absolute;
  top: 0;
  inset: 0;
  z-index: -1;
}



@media screen and (max-width: 991px) {
  .header-wrapper {
    padding: unset;
  }
  .header-carousel {
    max-width: unset;
  }
  .vid-container {
    max-width: 100%;
  }
  .influencer-img {
    max-width: 20rem;
  }

}

@media screen and (max-width: 767px) {

}
  